body{
  margin: 0px;
  padding: 0px;
}
.mfield{
  margin: 200px ;
  border: 2px outset black ;
  height: 300px;
  width: 250px;
  border-radius: 5px;


}
.field1{
  margin-bottom: 20px;
}
.btn{
  margin-top: 20px;
}
.infield1{
  padding: 10px;
  border-color: rgb(22, 36, 230);
  border-radius: 3px;
}
.infield2{
  padding: 10px;
  border-color: rgb(137, 228, 47);
  border-radius: 3px;
}
.infield{
  font-weight: bold;
  font-size: 15px;
  padding: 10px;
  background-color:chartreuse;
}